{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/fpl/good-fpl-logo-whitelining.png' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link href="{% static 'css/fpl.css' %}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" rel="stylesheet"/>
    <title>Fantasy Analysis</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark">
        <a href="/" class="navbar-brand customization">
          <img
            src="{% static 'images/fpl/good-fpl-logo-whitelining.png' %}"
            alt="logo"
            class="logo img-fluid"
          />
        </a>
        <span class="navbar-text"><div class="fantasy"><strong>FPL Analysis</strong></div></span>
        <div class="collapse navbar-collapse" id="toggleMobileMenu">
          <ul class="navbar-nav ms-auto text-center">
            <li>
              <a class="nav-link h6 active" href="#">Analysis</a>
            </li>
            <li class="nav-link h6 active"> | </li>
            <li>
              <a class="nav-link h6 active" href="#predictions-div">Predictions</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="body">
      <div class="container-fluid">
        <div class="row">
          <nav class="col-lg-2 bg-light pt-3" id="myScrollspy">
            <ul
              class="nav nav-pills nav-stacked justify-content-center"
              data-spy="affix"
              data-offset-top="205"
            >
              <p style="font-weight: 700">Expected Differentials</p>
              {% for index,row in differentials.iterrows %}
              <div class="w-100"></div>
              <div>
                {% with 'images/fpl/'|add:row.Team|add:'.webp' as image_static %}
                <img src="{% static image_static %}" alt="jersey" />
                {% endwith %}
                <div class="player">
                  <p>{{ row.Name }}</p>
                </div>
              </div>
              {% endfor %}
            </ul>
            <ul
              class="nav nav-pills nav-stacked justify-content-center"
              data-spy="affix"
              data-offset-top="205"
            >
              <p style="font-weight: 700">Gameweek {{ event }} Fixtures</p>
              {% for index,row in fixtures.iterrows %}
              <div class="w-100"></div>
              <div class="team_fix">
                <span
                  ><div
                    class="difficulty"
                    style="background: {{row.Home_FDR}};"
                  ></div
                ></span>
                <p class="team">{{row.Home}}</p>
              </div>
              <p style="padding-left: 5px; padding-right: 5px">vs</p>
              <div class="team_fix">
                <p class="team">{{row.Away}}</p>
                <span
                  ><div
                    class="difficulty"
                    style="background: {{row.Away_FDR}};"
                  ></div
                ></span>
              </div>
              {% endfor %}
              <div class="w-100"></div>
              <div>
                Fixture Difficulty Rating: 
                <img src="{% static 'images/fpl/fdr.png' %}" class="fdr" alt="fdr" />
              </div>
              <a class="btn btn-primary" role="button" href="https://omondi.herokuapp.com/projects/fpl-admin" style="background: rgb(56,0,60);border-style: none;border-color: rgba(255,255,255,0);">Generate data</a>
            </ul>
          </nav>
          <div class="col-lg-10 bg-light">
            <div class="row">
              <div class="col-lg-6">
                <p style="font-weight: 700;">
                  <img src="{% static 'images/fpl/value.png' %}" style="width: 70px;font-weight: 700;">Top 10 Most Valuable Goalkeepers</img>
                </p>
                {# most_valuable_goalkeepers.to_html(classes='table table-hover table-borderless', table_id='myTable', justify='left', border=0, index=False) | safe #}
                  {{ most_valuable_goalkeepers | safe }}
              </div>
              <div class="col-lg-6">
                <p style="font-weight: 700;">
                  <img src="{% static 'images/fpl/value.png' %}" style="width: 70px;font-weight: 700;">Top 10 Most Valuable Defenders</img>
                </p>
                {# most_valuable_defenders.to_html(classes='table table-hover table-borderless', table_id='myTable', justify='left', border=0, index=False) | safe #}
                {{ most_valuable_defenders | safe }}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <p style="font-weight: 700;">
                  <img src="{% static 'images/fpl/value.png' %}" style="width: 70px;font-weight: 700;">Top 10 Most Valuable Midfielders</img>
                </p>
                {# most_valuable_midfielders.to_html(classes='table table-hover table-borderless', table_id='myTable', justify='left', border=0, index=False) | safe #}
                {{ most_valuable_midfielders | safe }}
              </div>
              <div class="col-lg-6">
                <p style="font-weight: 700;">
                  <img src="{% static 'images/fpl/value.png' %}" style="width: 70px;">Top 10 Most Valuable Forwards</img>
                </p>
                {# most_valuable_forwards.to_html(classes='table table-hover table-borderless', table_id='myTable', justify='left', border=0, index=False) | safe #}
                {{ most_valuable_forwards | safe }}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-9" id="predictions-div">
                <p style="font-weight: 700;">
                  <img src="{% static 'images/fpl/brain.png' %}" style="width: 70px;font-weight: 700;">Predictions</img>
                </p>
                {# players_points.to_html(classes='table table-hover table-borderless', table_id='predictions', columns=['Name', 'Position', 'Team', 'Predictions'], justify='left', border=0, index=False) | safe #}
                {{ players_points | safe }}
              </div>
              <div class="col-lg-3">
                <p style="font-weight: 700;">
                  <img src="{% static 'images/fpl/value.png' %}" style="width: 70px;font-weight: 700;">Team value ranking</img>
                </p>
                {# most_valuable_teams.to_html(classes='table table-hover table-borderless', table_id='myTable', justify='left', border=0, index=False) | safe #}
                {{ most_valuable_teams | safe }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="bg-light text-center p-4 text-reset fw-bold" style="background-color: rgba(0, 0, 0, 0.05);">©Dofften</footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#predictions').DataTable({"ordering": false});
        } );
    </script>
  </body>
</html>
